<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tv.remote">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.TvRemoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".activity.TvRemoteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
